html {
  height: 100%;
  width: 100%;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
 background-color: black;
}

body {
  background-color: black;
}


@media (max-width: 1500px) {

  /* Bootstrap's breakpoint for small devices */
  .accordion-body {
    overflow-x: auto;
    /* Allow horizontal scrolling */
  }

  .table {
    min-width: 968px;
    /* Set a minimum width to ensure table doesn't get squished */
  }
}

#dropNav {
  display: flex;
  justify-content: center;
}

.accordion {
  --bs-accordion-color: rgb(255, 0, 0);
  --bs-accordion-btn-color: black;
  --bs-accordion-btn-bg: rgb(255, 255, 255);
  --bs-accordion-active-bg: rgba(0, 0, 0, 0.099);
  --bs-accordion-active-color: rgb(0, 0, 0);
  --bs-accordion-btn-focus-box-shadow: red;
  --bs--accordion-btn-active-icon: red !important;
  --bs-accordion-border-width: 0;
}



.accordion-button::after {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
  
.table td {
  text-align: center;
  font-size: 70%;
}

b {
  display: flex;
  justify-content: center;
  color: black !important;
}

th {
  text-align: center;
}