html {
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 15px;
}

body {
    background-color: black;
}

.col1,
.col2 {
    width: 50%;
    height: auto;
}

@media (max-width: 1500px) { /* Bootstrap's breakpoint for small devices */
    .accordion-body {
      overflow-x: auto; /* Allow horizontal scrolling */
    }
    
    .table {
      min-width: 968px; /* Set a minimum width to ensure table doesn't get squished */
    }
  }